# secrets
.secrets/
**/serviceAccountKey.json
**/*service-account*.json
**/*firebase-adminsdk*.json

# env
.env
.env.local
.env.*.local

# debug logs
**/firebase-debug.log
**/firestore-debug.log
**/next-debug.log

# build/cache
**/*.tsbuildinfo
node_modules
**/node_modules/
**/.next/
**/*.log
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
coverage/